.modal-wrapper {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    z-index: 999;
    background: rgba(179, 188, 197, 0.35);
    opacity: 1;
}

.modal .close-modal-btn {
    position: absolute;
    top: .5rem;
    right: .5rem;
    color: #000;
    font-weight: 500;
    padding: .5rem;
    border: none;
    background: inherit;
    font-size: 1.2rem;
    background: transparent;
}

.close-modal-btn:hover,
.close-modal-btn:focus {
    background: rgb(238, 238, 238);
}

.modal button:hover {
    cursor: pointer;
}

.modal {
    --w: 85;
    --h: 83;
    --left: 20;
    display: grid;
    grid-template-rows: repeat(3, minmax(1rem, 3rem));
    grid-template-columns: repeat(6, 1fr);
    position: fixed;
    border: 1px solid lightgray;
    width: calc(var(--w) * 1vmin);
    height: calc(var(--h) * 1vmin);
    background: #fff;
    border-radius: .5rem;
    padding: 0;
    margin: 1rem auto;
}

.modal-title {
    font-size: 1.5rem;
    grid-column: 1 / 7;
    grid-row: 1 / 2;
    padding: 1rem;
}

.modal-content {
    --h: 60;
    width: 100%;
    overflow-y: auto;
    height: 100%;
    grid-column: 1 / 7;
    grid-row: 2 / 8;
    padding-bottom: 1rem;
}

.modal input[type="text"],
.modal textarea {
    width: 100%;
}

.modal textarea {
    resize: vertical;
}
