.task {
    background: #fff;
    margin: .35rem auto;
    padding: 1rem;
    border: 1px solid rgb(225, 225, 225);
    border-radius: .35rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-shadow: 0.5px 1px 1px 0px lightgray;
    cursor: move;
    transform: translate(0, 0);
}

.task:hover {
    border: 1px solid rgb(210, 210, 210);
    cursor: move;
}

.task__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.task__title {
    font-size: 1.2rem;
    font-weight: 600;
}

.task__desc {
    font-size: 1rem;
    padding: 0;
    margin: .35rem 0 .25rem;
    width: inherit;
    word-break: break-word;
    white-space: break-spaces;
}

.task__labels {
    list-style: none;
    padding: 0;
    font-size: 1rem;
    margin-top: .5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: .4rem;
}

.task__labels li {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    font-size: .85rem;
    padding: .1rem .5rem;
    background: #eee;
    width: fit-content;
}

.task-footer {
    /* margin-top: 1rem; */
    /* border-top: 1px solid lightgray; */
    /* width: 100%; */
    position: absolute;
    top: 10px;
    right: 0;
}

.task-footer > div {
    margin-top: .5rem;
}

.task-date {
    margin-left: .5rem;
    font-size: .9rem;
}

.task-card-actions {
    padding: 0 1rem;
    display: flex;
    align-items: center;
    width: 100%;

}

.task-card-actions button {
    font-size: .9rem;
}

.task-card-actions select:hover {
    cursor: pointer;
}

.task-card-actions select.light-control-btn {
    margin-left: 8px;
    padding: .35rem .5rem;
}

.task-card-actions button:last-child {
    margin-left: auto;
}

.delete-task-btn {
   background: red;
   color: #fff;
   display: flex;
   width: fit-content;
   padding: .35rem 1rem;
   border: 1px solid transparent;
   font-weight: 500;

}

.delete-task-btn:hover {
    background: rgb(228, 6, 6);
    cursor: pointer;
}